@import './variable';
@import './mixin';

*{
    @include box;
    // @include border;
}
body{
    width: 100%;
    padding: 30px;
}
.box{
    width: 100%;
    .header{
        @include header-two
    }

    .graphcontainer{
        display: flex;
        flex-direction: column;
        .graphbox{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .graphbody{
                display: flex;
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    align-items: center;
                    
                    justify-content: center;
                    .caption{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        .select{
                            padding: 10px;
                            border: 1px solid grey;
                            select{
                             outline: none;
                            border: none;
     
                 
                            }
                         }
                    }
                    .graph{
                        background: linear-gradient(#C0DF80
                        10%,
                        #FFFFFF
                        24%);
                        
                    }
                  
                }
            }
        }
        
    }
