@import "./variable";
@import "./mixin";

* {
  @include box;
  //   @include border;
}
.box {
  width: 100%;
  display: flex;
  padding-bottom: 3rem;
  padding-inline: 2rem;

  flex-direction: column;
  gap: 2rem;
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 40%;
      font-weight: 600;
      color: red;
      .item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: darken(#81be00, 13);
      }
    }
    .right {
      justify-content: end;
      .item {
        background-color: #81be0033;
        padding: 8px;
      }
    }
  }
  .body {
    width: 100%;
    height: 100dvh;
    display: flex;
    // flex-wrap: wrap;
    gap: 1rem;

    .left {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;

      h2 {
        color: #81be00;
        opacity: 0.4;
      }

      .content {
        border: 1px solid #b6b3b3;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-inline: 9px;
        padding-block: 20px;

        .img {
          width: 70%;
          aspect-ratio: 1;
          background: url(https://s3-alpha-sig.figma.com/img/6c4c/14fa/9304536d8ca1b2bee8c22a0f87e0106f?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GbSW4rZvS2Dpl0kpD~6DQqSefeQBELvmnc6Cq3~qSgNd3HLMbnXSdVdvQyRMt8X83tb6PqU1Z~NuPUKiiqhYAB0zXhs1iKbHjBZeA6CEj1R~L5X0f1wph8omiPjlcN36kcTqgxLMX5OAJbHzfklCj0Qe0pmH30~cU3K9Zn75NuelRbQfOQm-KAB06fR0S9osQpTmTviBBbuuHNfhz9X4UYL-Kz8z0XjF04s1cfIvy52ifAUig8E595V7WkfybWNiGYrREtBP7coPpn-ADLwTy~ZYfdIXFdgnHK863ieRUVqAwspyjnQQt5KgJFFwRr1rk7NhWKQ8jY4yN06m3q9UrQ__);
          background-position: center;
          background-size: contain;
          border-radius: 100%;
        }
        .textbox {
          display: flex;
          gap: 1rem;
          font-weight: 600;
          flex-direction: column;
          .text {
            text-transform: capitalize;
            p {
              &:first-child {
                color: grey;
              }
            }
          }
        }
      }
    }

    .center {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h2 {
        color: #81be00;
        opacity: 0.4;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        height: 100%;
        .top {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-block: 30px;
          padding-inline: 20px;
          border: 1px solid #b6b3b3;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          button {
            padding: 10px;
            display: flex;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            gap: 1rem;
            text-transform: capitalize;
            &:first-child {
              background-color: #81be0033;
              color: darken($green, 4);
            }
            &:nth-child(2) {
              background-color: #c4ec6d;
              color: darken($green, 17);
            }
            &:nth-child(3) {
              background-color: #ff3a0033;
              color: red;
            }
            &:nth-child(4) {
              background-color: #d9d9d980;
            }
          }
        }
        .bottom {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          .textbox {
            display: flex;
            border: 1px solid #b6b3b3;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
            padding: 3px;
            padding-inline: 10px;
            flex-direction: column;
            gap: 1.4rem;
            .text {
              font-weight: 600;
              p {
                &:first-child {
                  color: grey;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
    .right {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h2 {
        color: #81be00;
        opacity: 0.4;
      }
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
          min-height: 0%;
          border: 1px solid #b6b3b3;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          padding-inline: 30px;
          padding-block: 10px;

          .textbox {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .text {
              font-weight: 600;
              p {
                text-transform: capitalize;
                &:first-child {
                  text-transform: uppercase;
                  color: #a5a3a3;
                }
              }
            }
          }
        }
        .bottom {
          min-height: 30%;
          border: 1px solid #b6b3b3;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          padding: 10px;
          font-weight: 600;
          .content {
            display: flex;
            flex-direction: column;

            .textbox {
              display: flex;
              flex-direction: column;
              .text {
                p {
                  text-transform: capitalize;
                  &:first-child {
                    text-transform: uppercase;
                    color: #a5a3a3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
