@import "../../../Scss/variable";
@import "../../../Scss/mixin";
* {
  @include box;
  //   @include border;
}
body {
  width: 100%;
}
.header {
  @include header-two;
  position: fixed;
}
.body {
  margin-top: 90px;
  display: flex;
  .sidebar {
    width: 33%;
    padding-block: 20px;
    padding-left: 20px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        gap: 10px;
        padding-block: 15px;
        padding-inline: 10px;
        a {
          text-decoration: none;
          color: black;
        }
      }
      li.active {
        background: $green;
        color: white;
        a {
          color: white;
        }
      }
    }
  }
  .activepage {
    width: 67%;
    padding: 20px;
  }
}

.dashboardfooter {
  display: flex;
  justify-content: end;
  footer {
    @include footer(80%, black);
    justify-self: right;
  }
}
