@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$primary-color: #8cbf5a;
$bg-color: #f8f9fa;
$text-color: #333;
$border-color: #ddd;

body {
  font-family: "Poppins", sans-serif;
  background: $bg-color;
  margin: 0;
  padding: 0;
}

.edit-profile-container {
  width: 90%;
  max-width: 100%;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.profile-upload {
  display: flex;
  align-items: center;
  gap: 20px;

  .image-placeholder {
    width: 80px;
    height: 80px;
    background: $border-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 12px;
  }

  .upload-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $text-color;
    cursor: pointer;
    font-size: 14px;

    i {
      font-size: 18px;
    }
  }
  .imgBtn{
    background: $primary-color;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
  }
}

form {
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  color: $text-color;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;

  label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 14px;
    background: white;
  }
}

.form-row {
  display: flex;
  gap: 10px;

  .form-group {
    flex: 1;
  }
}

.social-input {
  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 18px;
    color: gray;
  }

  input {
    flex: 1;
  }
}

.add-link {
  font-size: 14px;
  cursor: pointer;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 5px;

  i {
    font-size: 16px;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;

  .cancel-btn {
    background: white;
    color: $text-color;
    border: 1px solid $border-color;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .save-btn {
    background: $primary-color;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
}
