@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

.profile {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.profile .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.profile .profile-header .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #555;
}
.profile .profile-header .profile-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
}
.profile .profile-header .profile-info h2 {
  font-size: 20px;
  color: #333;
}
.profile .profile-header .profile-info .role {
  font-size: 16px;
  color: gray;
}
.profile .profile-header .profile-info .status {
  font-size: 14px;
  color: #6CBF43;
  padding: 5px 10px;
  border-radius: 1rem;
  background-color: rgba(125, 155, 97, 0.4274509804);
  margin-top: 2px;
}
.profile .profile-header .profile-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.profile .profile-header .profile-actions .download-btn {
  background: #fff;
  color: #000;
  border: 1px solid black;
}
.profile .profile-header .profile-actions .edit-btn {
  background: #6CBF43;
  color: #fff;
}
.profile .section {
  margin-top: 20px;
}
.profile .section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.profile .section p {
  color: #555;
}
.profile .section .skills p {
  margin-top: 10px;
}
.profile .section .skill-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile .section .skill-tags .skill {
  background: #6CBF43;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
}
.profile hr {
  margin-top: 10px;
}
.profile .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.profile .contact > p {
  font-weight: bold;
  color: black;
}
.profile .contact > p span {
  font-weight: 400;
  color: #555;
}
.profile .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.profile .social-icons i {
  font-size: 20px;
  cursor: pointer;
}