@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
}

.scrolled {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 34;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 100px;
  border-bottom: 1px solid grey;
}
.header .left {
  display: flex;
  align-items: center;
  gap: 9px;
}
.header .left span {
  display: none;
}
.header .left h3 {
  display: none;
  color: #81be00;
}
.header .center .search input {
  padding: 10px;
  text-indent: 10px;
  border: none;
  outline: none;
}
.header .right {
  display: flex;
}
.header .right .select {
  display: flex;
  flex-direction: column;
}
.header .right .select select {
  color: grey;
  border: none;
}
.header .right .icons {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 8px;
}
.header .right .icons span:first-child {
  font-size: 1.3rem;
}
.header .right .icons span:last-child {
  font-size: 2rem;
}

.sidebar {
  position: fixed;
  margin-top: 5.5rem;
  width: 25%;
  height: 70%;
}
.sidebar .sidebar.small {
  width: 13%;
  background-color: blue;
}
.sidebar ul {
  width: 100%;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  background-color: white;
}
.sidebar ul li {
  display: flex;
  padding-block: 15px;
  padding-inline: 10px;
  position: relative;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  gap: 10px;
}
.sidebar ul li:hover {
  background: transparent;
  border: 1px solid #81be00;
  color: white;
}
.sidebar ul li:hover a {
  color: #81be00;
}
.sidebar ul li:hover i {
  color: black;
}
.sidebar ul li a {
  width: 40%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.sidebar ul li a.none {
  display: none;
}
.sidebar ul li i.white {
  transition: all 0.3s ease-in-out;
  color: white;
}
.sidebar ul li.active {
  background: #81be00;
}
.sidebar ul li.active a {
  color: white;
}
.sidebar ul .widdth {
  width: fit-content;
}
.sidebar .active {
  background: #81be00;
  color: white;
}
.sidebar .active a {
  color: white;
}

.sidebar.show {
  display: flex;
}

.Dbody {
  width: 100%;
  padding-left: 340px;
  padding-top: 5rem;
  justify-self: right;
  display: flex;
  justify-content: center;
}
.Dbody .activepage {
  padding-block: 1px;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 34;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  .header .left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header .left span {
    display: block;
  }
  .header .left h3 {
    display: block;
    color: #81be00;
  }
  .header .left h1 {
    display: none;
  }
  .header .center {
    display: none;
  }
  .header .right {
    display: flex;
  }
  .header .right .select {
    display: none;
    display: flex;
    flex-direction: column;
  }
  .header .right .select * {
    display: none;
  }
  .header .right .select select {
    color: grey;
    border: none;
  }
  .header .right .icons {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 8px;
  }
  .header .right .icons span:first-child {
    font-size: 1.3rem;
  }
  .header .right .icons span:last-child {
    font-size: 2rem;
  }
  .sidebar {
    display: none;
    position: fixed;
    margin-top: 5rem;
    margin-bottom: -20px;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    inset: 0;
    opacity: 0;
    background: white;
    z-index: 45;
  }
  .sidebar.show {
    display: flex;
    margin-left: 0;
    opacity: 1;
    margin-bottom: 0;
  }
  .Dbody {
    flex-direction: column;
    justify-content: center;
    padding-top: 4.5rem;
    padding-left: 0;
    padding-block: 2px;
    width: 100%;
  }
  .Dbody .activepage {
    width: 100%;
    padding-top: 5rem;
    margin-left: 0;
  }
}

/*# sourceMappingURL=talentdashboard.css.map */
