@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  padding: 30px;
}

.box {
  width: 100%;
}
.box .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 34;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  padding-inline: 100px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.box .header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.box .header .left span {
  display: none;
}
.box .header .left h3 {
  display: none;
  color: #81be00;
}
.box .header .center .search input {
  padding: 10px;
  text-indent: 10px;
  border: none;
  outline: none;
}
.box .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box .header .right .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box .header .right .select select {
  color: grey;
  border: none;
}
.box .header .right .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  padding: 8px;
}
.box .header .right .icons span:first-child {
  font-size: 1.3rem;
}
.box .header .right .icons span:last-child {
  font-size: 2rem;
}
.box .graphcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box .graphcontainer .graphbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.box .graphcontainer .graphbox .graphbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box .graphcontainer .graphbox .graphbody .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box .graphcontainer .graphbox .graphbody .caption .select {
  padding: 10px;
  border: 1px solid grey;
}
.box .graphcontainer .graphbox .graphbody .caption .select select {
  outline: none;
  border: none;
}
.box .graphcontainer .graphbox .graphbody .graph {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #C0DF80), color-stop(24%, #FFFFFF));
  background: linear-gradient(#C0DF80 10%, #FFFFFF 24%);
}