@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.caption {
  width: 100%;
  padding: 20px;
}
.caption h1 {
  text-transform: capitalize;
  font-size: 2.5dvw;
}

.body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.body header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 20px;
}
.body header .searchbox {
  width: 90%;
}
.body header .searchbox .search {
  height: 100%;
  width: 30%;
  padding: 10px;
  border: 1px solid grey;
}
.body header .searchbox .search input {
  height: 100%;
  width: 90%;
  padding: 4px;
  outline: none;
  border: none;
}
.body .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1rem;
  width: 30%;
}
.body .select span {
  font-size: 1dvw;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.table {
  width: 98dvw;
}
.table table {
  border-collapse: collapse;
}
.table table col {
  width: 20%;
}
.table table thead tr {
  background-color: #c0df80;
}
.table table thead tr th {
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
}
.table table tbody tr {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
.table table tbody tr th {
  padding: 20px;
}
.table table tbody tr td {
  text-align: center;
  padding: 15px;
}