@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  max-height: 100vh;
  overflow: hidden;
}
.box .left_section {
  width: 40%;
}
.box .left_section header {
  padding: 10px;
  width: 100%;
  text-transform: capitalize;
}
.box .left_section .input {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #c7c1c1;
}
.box .left_section .input label {
  opacity: 0.4;
  width: 10%;
  font-size: 1.2dvw;
}
.box .left_section .input input {
  border: none;
  height: 100%;
  width: 70%;
  text-transform: capitalize;
  font-size: 1.3dvw;
}
.box .left_section .body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box .left_section .body .row.active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.box .left_section .body .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 3px;
  border-inline: 1px solid #c7c1c1;
}
.box .left_section .body .row .left {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  width: 70%;
}
.box .left_section .body .row .left .img {
  width: 4dvw;
  aspect-ratio: 1;
  background: url(../assets/man\ 1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.box .left_section .body .row .left .text {
  text-transform: capitalize;
  font-weight: 600;
  width: 77%;
}
.box .left_section .body .row .left .text h3 {
  font-size: 1.2dvw;
  width: 100%;
}
.box .left_section .body .row .left .text p {
  font-size: 1dvw;
  width: 100%;
}
.box .left_section .body .row .right {
  width: 20%;
}
.box .left_section .body .row .right p {
  text-transform: uppercase;
  padding: 0;
  font-weight: 600;
}
.box .left_section .body .row .right p:last-child {
  scale: 0.7;
  font-size: 2dvw;
  padding: 7px;
  text-align: center;
  color: white;
  background: #b9ff25;
  border-radius: 50%;
}
.box .right_section {
  width: 55%;
  padding: 10px;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}
.box .right_section header {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.box .right_section header .left {
  width: 70%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.box .right_section header .left .img {
  width: 4dvw;
  aspect-ratio: 1;
  background: url(../assets/Rectangle\ 81.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.box .right_section header .left .text {
  text-transform: capitalize;
  font-weight: 600;
  width: 70%;
}
.box .right_section header .right {
  width: 30%;
  display: flex;
  justify-content: end;
}
.box .right_section header .right span {
  font-size: 1.3dvw;
}
.box .right_section .chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 15px;
}
.box .right_section .chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.box .right_section .other .msg {
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #c1cbcd;
  background: #3c5800;
}
.box .right_section .other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #3c5800;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.box .right_section .self {
  justify-content: flex-end;
  align-items: flex-end;
}
.box .right_section .self .msg {
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #c1cbcd;
}
.box .right_section .self:after {
  content: "";
  position: relative;
  display: inline-block;
  float: right;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #81be00;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #c1cbcd;
}
.box .right_section .msg {
  background: #81be00;
  min-width: 400px;
  min-height: 80px;
  padding: 10px;
  border-radius: 2px;
  word-break: break-all;
}
.box .right_section .msg .user {
  font-size: 14px;
  margin: 0 0 2px 0;
  color: #666;
  font-weight: 700;
  margin-top: -2px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
}
.box .right_section .msg .user .range.admin {
  display: inline-block;
  font-size: 10px;
  font-weight: 300;
  color: #6aea96;
  padding: 2px;
  border-radius: 3px;
  border: solid 1px #6aea96;
  background: rgba(255, 255, 255, 0);
  margin-left: 5px;
}
.box .right_section .msg p {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #777;
  transition: all 0.2s ease;
}
.box .right_section .msg img {
  position: relative;
  display: block;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all 0.8s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  cursor: default;
}
.box .right_section ::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: #252c33;
  box-shadow: inset 0px 50px 0px rgba(27, 35, 42, 0.9), inset 0px -50px 0px #eee;
}
.box .right_section ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 100px;
  border: solid 3px #252c33;
}
.box .right_section ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
.box .right_section ::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.1);
}
.box .right_section ::-webkit-scrollbar-button {
  display: block;
  height: 26px;
}
.box .right_section .inputcontainer {
  width: 100%;
  background: white;
  position: absolute;
  top: 85%;
  margin: 0 auto;
  left: 0;
}
.box .right_section .inputcontainer .input {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-block: 15px;
}
.box .right_section .inputcontainer .input input {
  width: 60%;
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  color: #666;
}
.box .right_section .inputcontainer .input .lefticons,
.box .right_section .inputcontainer .input .righticons {
  font-size: 2dvw;
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.box .right_section .inputcontainer .input .righticons span.green {
  border-radius: 5px;
  color: white;
  padding: 3px;
  padding-inline: 12px;
  background: #81be00;
}/*# sourceMappingURL=dashboard_message.css.map */