@import "./variable";
@import "./mixin";
* {
  @include box;

  // @include border;
}
.box {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  max-height: 100vh;
  overflow: hidden;

  .left_section {
    width: 40%;

    header {
      padding: 10px;
      width: 100%;
      text-transform: capitalize;
    }
    .input {
      display: flex;
      align-items: center;
      padding: 7px;
      border-radius: 7px;
      border: 1px solid #c7c1c1;
      label {
        opacity: 0.4;
        width: 10%;
        font-size: 1.2dvw;
      }
      input {
        border: none;
        height: 100%;
        width: 70%;
        text-transform: capitalize;
        font-size: 1.3dvw;
      }
    }
    .body {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .row.active {
        box-shadow: $box-shadow;
      }
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        border-radius: 3px;
        border-inline: 1px solid #c7c1c1;
        .left {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          width: 70%;
          .img {
            width: 4dvw;
            aspect-ratio: 1;
            background: url(../assets/man\ 1.jpg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          .text {
            text-transform: capitalize;
            font-weight: 600;
            width: 77%;
            h3 {
              font-size: 1.2dvw;
              width: 100%;
            }
            p {
              font-size: 1dvw;
              width: 100%;
            }
          }
        }
        .right {
          width: 20%;
          p {
            text-transform: uppercase;
            padding: 0;
            font-weight: 600;
            &:last-child {
              scale: 0.7;
              font-size: 2dvw;
              padding: 7px;
              text-align: center;
              color: white;
              background: lighten($green, 20);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  //
  .right_section {
    width: 55%;
    padding: 10px;
    max-height: 100%;
    position: relative;
    overflow: hidden;

    header {
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 6px;
      box-shadow: $box-shadow;
      .left {
        width: 70%;
        display: flex;
        gap: 1rem;
        align-items: center;
        .img {
          width: 4dvw;
          aspect-ratio: 1;
          background: url(../assets/Rectangle\ 81.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
        .text {
          text-transform: capitalize;
          font-weight: 600;
          width: 70%;
        }
      }
      .right {
        width: 30%;
        display: flex;
        justify-content: end;

        span {
          font-size: 1.3dvw;
        }
      }
    }
    //messages section

    .chat {
      list-style: none;
      background: none;
      margin: 0;
      padding: 0 0 50px 0;
      margin-top: 60px;
      margin-bottom: 15px;

      li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
      }
    }

    .other .msg {
      border-top-left-radius: 0px;
      box-shadow: -1px 2px 0px #c1cbcd;
      background: darken($green, 20);
    }
    .other:before {
      content: "";
      position: relative;
      top: 0px;
      right: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      border: 5px solid darken($green, 20);
      border-left-color: transparent;
      border-bottom-color: transparent;
    }

    .self {
      justify-content: flex-end;
      align-items: flex-end;
    }
    .self .msg {
      border-bottom-right-radius: 0px;
      box-shadow: 1px 2px 0px #c1cbcd;
    }
    .self:after {
      content: "";
      position: relative;
      display: inline-block;
      float: right;
      bottom: 0px;
      right: 0px;
      width: 0px;
      height: 0px;
      border: 5px solid $green;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 0px 2px 0px #c1cbcd;
    }

    .msg {
      background: $green;
      min-width: 400px;
      min-height: 80px;
      padding: 10px;
      border-radius: 2px;
      word-break: break-all;
    }
    .msg .user {
      font-size: 14px;
      margin: 0 0 2px 0;
      color: #666;
      font-weight: 700;
      margin-top: -2px;
      margin-bottom: 5px;
      transition: all 0.2s ease;
    }
    .msg .user .range.admin {
      display: inline-block;
      font-size: 10px;
      font-weight: 300;
      color: #6aea96;
      padding: 2px;
      border-radius: 3px;
      border: solid 1px #6aea96;
      background: rgba(255, 255, 255, 0);
      margin-left: 5px;
    }
    .msg p {
      font-size: 13px;
      margin: 0 0 2px 0;
      color: #777;
      transition: all 0.2s ease;
    }
    .msg img {
      position: relative;
      display: block;
      width: 600px;
      border-radius: 5px;
      box-shadow: 0px 0px 3px #eee;
      transition: all 0.8s cubic-bezier(0.565, -0.26, 0.255, 1.41);
      cursor: default;
    }

    ::-webkit-scrollbar {
      min-width: 12px;
      width: 12px;
      max-width: 12px;
      min-height: 12px;
      height: 12px;
      max-height: 12px;
      background: #252c33;
      box-shadow: inset 0px 50px 0px rgba(27, 35, 42, 0.9),
        inset 0px -50px 0px #eee;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 100px;
      border: solid 3px #252c33;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    ::-webkit-scrollbar-thumb:active {
      background: rgba(255, 255, 255, 0.1);
    }

    ::-webkit-scrollbar-button {
      display: block;
      height: 26px;
    }

    .inputcontainer {
      width: 100%;
      background: white;
      position: absolute;
      top: 85%;
      margin: 0 auto;
      left: 0;

      .input {
        width: 100%;
        box-shadow: $box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow;
        padding: 10px;
        padding-block: 15px;

        input {
          width: 60%;
          height: 100%;
          font-weight: 600;
          border: none;
          outline: none;
          color: #666;
        }
        .lefticons,
        .righticons {
          font-size: 2dvw;
          width: 20%;
          display: flex;
          justify-content: center;
          gap: 1rem;
        }
        .righticons {
          span.green {
            border-radius: 5px;
            color: white;
            padding: 3px;
            padding-inline: 12px;
            background: $green;
          }
        }
      }
    }
  }
}
