@import "./variable";
@import "./mixin";
* {
  @include box;

  //   @include border;
}

.box {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  header {
    text-transform: capitalize;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      opacity: 0.7;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid grey;
      text-transform: capitalize;
      padding: 10px;

      .input {
        width: 35%;
        display: flex;
        align-items: center;
        input {
          padding: 10px;
          border: none;
          outline: none;
          height: 100%;
          width: 90%;
          &::placeholder {
            font-size: 1dvw;
            text-transform: capitalize;
          }
        }
      }
      .selectbox {
        width: 63%;
        display: flex;
        gap: 0.3rem;
        .select {
          padding-block: 4px;
          font-size: small;
          padding: 8px;
          border: 1px solid grey;
          border-radius: 8px;
        }
        .filter {
          background: $green;
          color: white;
          border: none;
          padding-inline: 10px;
        }
      }
    }

    .grid {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 45%;

        .container {
          width: 100%;
          display: flex;
          padding: 7px;
          flex-direction: column;
          border-bottom: 2px solid grey;
          .top {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 3px dotted grey;
            span {
              font-size: 2dvw;
            }
            .content {
              display: flex;
              align-items: center;
              .img {
                background: url(../assets/AI\ Image.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 4dvw;
                aspect-ratio: 1;
                border-radius: 100%;
              }
              .text {
                text-transform: capitalize;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                line-height: 4dvh;
                padding: 12px;
                p {
                  &:last-child {
                    opacity: 0.4;
                  }
                }
              }
            }
          }
          .bottom {
            display: flex;
            padding: 10px;
            justify-content: space-between;
            text-transform: capitalize;
            font-weight: 600;
            p {
              display: flex;
              align-items: center;
              gap: 10px;
              span {
                padding: 6px;
                aspect-ratio: 1;
                background: $green;
                color: white;
                border-radius: 100%;
              }
            }
          }
        }
      }

      .right {
        display: flex;

        border: none;
        outline: none;
        width: 49%;
        flex-direction: column;
        .top-section {
          background: $green;
          display: flex;
          flex-direction: column;
          header {
            display: flex;
            flex-direction: column;
            padding: 15px;
            h1 {
              color: white;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            }
            .mid {
              display: flex;
              align-items: center;
              gap: 1rem;
              .img {
                background: url(../assets/AI\ Image.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 4dvw;
                aspect-ratio: 1;
                border-radius: 100%;
              }
              .text {
                text-transform: capitalize;
                font-weight: 600;
                display: flex;
                color: white;
                flex-direction: column;
                line-height: 4dvh;
                padding: 12px;
                p {
                  opacity: 0.4;
                }
              }
            }
            .bottom {
              display: flex;
              gap: 1rem;
              width: 100%;
              justify-content: space-between;
              color: white;
              .item {
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                span {
                  i {
                    font-size: 2dvw;
                  }
                }
                P {
                  text-transform: capitalize;
                  &:last-child {
                    font-weight: 600;
                    opacity: 1;
                  }
                }
              }
            }
          }

          .btn {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            button {
              padding-block: 10px;
              width: 100%;
              color: white;
              text-transform: capitalize;
              border: none;
              font-size: 1.3dvw;
              font-weight: 600;
              outline: none;
              background: $green;
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            .left {
              display: flex;
              gap: 2px;
            }
          }
        }
        .bottom-section {
          .bottomtext {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 10px;
          }
        }
      }
    }
  }
}
