@import "./variable";
@import "./mixin";
* {
  @include box;

  // @include border;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  gap: 1.2rem;
  header {
    padding: 10px;
    h1 {
      padding: 10px;
    }
  }
  .top {
    .fields {
      width: 100%;
      display: grid;
      font-weight: 600;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .field {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .input {
          width: 100%;
          border-radius: 10px;
          border: 1px solid grey;
          overflow: hidden;

          input {
            overflow: hidden;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            height: 100%;
            padding: 15px;
          }
        }
      }
    }
  }
  .mid {
    padding: 10px;
    .role {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-weight: 600;
      input {
        height: 100%;
        border-radius: 10px;
        outline: none;
        border: 1px solid grey;
        padding-block: 6dvw;
        width: 40%;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .container {
      font-weight: 600;
      padding: 10px;
      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          &:last-child {
            font-weight: 400;
            padding: 10px;
            padding-bottom: 14dvh;
            border: 1px solid grey;
            border-radius: 10px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    .btn {
      padding: 1dvw;
      padding-inline: 4dvw;
      border: 1px solid grey;
      background: transparent;
      &:last-child {
        background: $green;
        color: white;
        border-color: transparent;
      }
    }
  }
}
