@import "../../../Scss/variable";
@import "../../../Scss/mixin";
* {
  @include box;

  // @include border;
}
.box {
  padding: 10px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  header {
    text-transform: capitalize;
  }
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    .balance {
      width: 100%;
      padding-inline: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      gap: 4rem;
      .right,
      .left,
      .center {
        width: calc(100% / 2.5);
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
        flex-direction: column;
        padding: 12px;
        gap: 1.4rem;
        font-weight: 600;
      }
    }
    .options {
      width: 90%;
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      align-items: center;
      padding-block: 20px;
      button {
        color: white;
        text-transform: capitalize;
        border-radius: 2px;

        outline: none;
        width: calc(100% / 3.6);
        border: none;
        background: $green;
        padding: 8px;
        padding-inline: 20px;
      }
    }
  }
  #columnchart_material {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    height: 500px;
    box-shadow: $box-shadow;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .trans_history {
      box-shadow: $box-shadow;
      header {
        padding-inline: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        padding: 20px;
        border-bottom: 1px solid grey;
        h2 {
          font-size: 1.3dvw;
        }
        .select {
          width: 60%;
          display: flex;
          justify-content: space-between;
        }
      }
      .body {
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: capitalize;
          font-weight: 600;
          padding: 5px;
          border-bottom: 1px solid grey;
          .left {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .text {
              p {
                font-size: 1.3dvw;
                &:last-child {
                  opacity: 0.6;
                  font-size: 1dvw;
                }
              }
            }
          }
          .right {
            padding: 10px;
            p {
              &:last-child {
                color: $green;
              }
            }
          }
        }
        .btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px;
          button {
            width: 20%;
            border-radius: 10px;
            padding-inline: 20px;
            padding: 10px;
            text-transform: capitalize;
            border: none;
            outline: none;
            color: white;
            font-weight: 600;
            background: $green;
          }
        }
      }
    }
    .total_history {
      box-shadow: $box-shadow;
      text-transform: capitalize;
      border-radius: 10px;
      padding-bottom: 20px;
      h1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 2dvw;
        text-transform: capitalize;
        color: white;
        background: $green;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 2dvw;
        }
      }
      p {
        font-weight: 600;
        padding: 30px;
        border-bottom: 1px solid grey;
      }
    }
  }
}
@media (max-width: 768px) {
  .box{
    padding-top: 100px;
    .top{
      .balance{
        flex-direction: column;
        .right,.center,.left{
          width: 100%;
        min-height: 200px;
        }
      }
      .options{
        justify-content: center;
        gap: 0.2rem;
        button{
          width: calc(100%/3);
          height: 50px;
        }
      }
    }
    .bottom{
      .trans_history{
      
        header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 10px;
          h2{
            font-size: 1.2rem;
            width: 80%;
          }
          .select{
       
            display: flex;
            align-items: end;
            flex-direction: column;
            // .deposit,.withdraw{
            //   display: none;
            // }
          }
        }
        .body{
          .row{
            display: flex;
            flex-direction: column;
            .left{
              width: 100%;
              span{
                padding: 10px;
                font-size: 1.6rem;
                background: lighten($green,  50);
              }
              .text{
                p{
                  font-size: large;
                  &:last-child {
                    
                    font-size: 1rem;
                  }

                }
              }
            }
            .right{
              width: 100%;
              display: flex;
              align-items: end;
              flex-direction: column;
            }
          }
          .btn{
            padding: 10px;
            padding-top: 30px;
            justify-content: end;
            button{
              width: 40%;
              padding-inline: 6px;
              text-align: center;
              font-size: 1rem;
      
            }
          }
        }
      }
      .total_history{
       
          h1{
font-size: large;
          
        }
      }
    }
   
  }
}
