@import "../../../Scss/variable";
@import "../../../Scss/mixin";
$primary-color: #6CBF43;
$secondary-color: #f5f5f5;
$text-color: #333;
* {
  @include box;

  //   @include border;
}







.content {
    flex: 1;
    background: $secondary-color;
    padding: 20px;
    overflow-y: auto;
}



.profile {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

    .profile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        
        .profile-pic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            background-color: #555;
        }

        .profile-info {
            flex: 1;
            padding-left: 15px;

            h2 {
                font-size: 20px;
                color: $text-color;
            }

            .role {
                font-size: 16px;
                color: gray;
            }

            .status {
                font-size: 14px;
                color: $primary-color;
               //  font-weight: bold;
                padding: 5px 10px;
                border-radius: 1rem;
                background-color: #7d9b616d;
                margin-top: 2px;
            }
        }

        .profile-actions {
            button {
                padding: 8px 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 10px;
            }

            .download-btn {
               background: #fff;
               color: #000;
               border: 1px solid black;
            }

            .edit-btn {
                background: $primary-color;
                color: #fff;
            }
        }
    }

    .section {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            color: #555;
        }
        .skills{
         
         p{
            margin-top: 10px;
         }
        }

        .skill-tags {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            
            .skill {
                background: $primary-color;
                color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }

    hr{
      margin-top: 10px;
    }
    .contact{
      display: flex;
      gap: 3rem;
      >p{
         font-weight: bold;
         color: black;
         span{
            font-weight: 400;
            color: #555;
         }
      }
    }


    .social-icons {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        i {
            font-size: 20px;
            cursor: pointer;
        }
    }
}
