@import "../../../globalScss/variable";
@import "../../../globalScss/mixin";

* {
  @include box;
  // @include border;
}
body {
  width: 100%;
}
.header {
  @include header;
}
.container {
  min-height: 690px;
  display: flex;
  width: 100%;
  padding-bottom: 10%;

  .heroimg {
    min-width: 40%;
    background: url(../../../Users/Talent/assets/woman2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form {
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60%;

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .caption {
        width: 100%;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 1.8rem;
        }
        p {
          font-weight: 600;
          font-size: 1rem;
          span {
            color: lighten($green, 5);
          }
        }
        * {
          text-align: center;
        }
      }
      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        
        
      
        .input {
          width: 100%;
          overflow: hidden;
          border: 0.1px solid #d6d6d6;
          border-radius: 7px;
          box-shadow: 2px 2px 2px #d6d6d6;
          display: flex;
          gap: 20px;
          align-items: center;
          position: relative;
          label {
            left: 6px;
            position: absolute;
          }
 

         
          .small {
            display: flex;
            width: 50%;
            border-radius: 7px;
            justify-content: center;
            border-top: 0;
            gap: 2rem;
            border: 1px solid #d6d6d6;
            align-items: center;
            overflow:hidden;
          }
          input {
            border: none;
            outline: none;
            width: 100%;
            padding: 10px;
            text-indent: 18px;
            
          }
        }
      }
      .signupbtn {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        font-weight: 600;
        border-radius: 7px;
        color: white;
        text-align: center;
        border: none;
        background-color: darken($green, 4);
        .yellow {
          display: inline-block;
          background-color: #f1d326;
          color: black;
          font-weight: 600;
          padding: 3px;
          border-radius: 5px;
        }
      }
      .login {
        font-size: small;
        font-weight: 600;
        padding: 3px;
        a {
          margin-left: 2px;
          text-decoration: none;
          color: lighten($green, 5);
        }
      }
      .alternative {
        display: flex;
        padding-block: 3px;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        p {
          text-align: center;
          font-size: small;
          width: 100%;
          position: relative;
          &::before {
            content: "";
            top: 50%;
            width: 239px;
            height: 1px;
            position: absolute;
            background-color: grey;
            right: 0;
          }
          &::after {
            content: "";
            top: 50%;
            left: 0;
            width: 239px;
            height: 1px;
            position: absolute;
            background-color: grey;
          }
          .yellow {
            display: inline-block;
            background-color: #f1d326;
            color: black;
            font-size: small;
            font-weight: 600;
            padding: 3px;
            border-radius: 5px;
          }
        }
      }
      .socials {
        padding: 4px;
        display: flex;
        align-items: center;
      }
    }
  }
}
footer {
  @include footer(100%, black);
}

// mobile view
@media (max-width: 768px) {
  .header {
   @include header-mobile;
    background-color: white
  }
  .container {
    margin-top: 40px;
    .heroimg {
      display: none;
      width: 0px;
    }
    .form {
      width: 100%;
      form {
        width: 100%;
        display: block;
        .inputs .caption {
          gap: 1rem;
          width: 60%;
          justify-self: end;
          margin-bottom: 30px;
          * {
            text-align: left;
          }
        }
        .login {
          width: 100%;
          text-align: center;
        }
        .alternative {
          p {
            &::before,
            &::after {
              width: 110px;
            }
          }
        }
        .socials {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
  footer {
    @include footer-mobile;
  }
}
